#menubar {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
}

.menubar-card {
   text-align: center;
   padding: 10px;
}
.menubar-card:hover {
   cursor: pointer;
}
