#myinformation {
    max-height: 1500px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.my-info-form-group {
    width: 100%;
    padding: 20px;
}

.my-info-form-group__input{
    margin: 10px 0;
}

.my-info-form-group__input > p{
    margin-bottom: 10px;
}

.my-info-form-group__input > input,
.my-info-form-group__input > div > input {
    max-width: 300px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #FFFDE9;
    border: 1px solid #000;
}

.my-info-form-group__input > input.address {
    max-width: none;
}

.my-info-form-group__input__email {
    display: flex;
    gap: 10px;

}


.my-info-form-group__input__password {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.email-button-group {
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.email-button-group > button {
    all:unset;
    padding: 10px;
    border-radius: 30px;
    background-color: #C8C3C1;
    border: 1px solid #000;
    font-size: 13px;
}

.email-button-group > button:hover {
background-color: #463832;
color: #fff;
}
