.my-pet-card {
    display: grid;
    border-radius: 20px;
    height: 300px;
    grid-template-columns:repeat(2, 1fr) ;
    margin: 40px auto;
    width: 70%;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgba(242, 250, 255, 0.6));
}

.petprofile-change {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

 .petprofile-change > img {
    border-radius: 50%;
    width: 150px;
}

 .petprofile-change > a {
    text-decoration: underline;
    font-size: 13px;
 }

 .petprofile-info {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
 }

 .petprofile-info > h1 {
    font-size: 20px;
    margin-bottom: 10px;
 }

 .petprofile-info > div {
    display: flex;
    font-size: 13px;
  }

 .petprofile-info > div > p:first-child::after {
    content: '|';
    margin: 0 20px;
 }

