#profile-section {
   width: 100%;
   height: 100%;
}

.profile-info {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-info > img {
    border-radius: 50%;
    width: 100px;
}

.profile-info > div {
    text-align: center;
    font-size: 13px;
}
.profile-info > a {
    text-decoration: underline;
    font-size: 13px;
}