
#login-section {
    max-width: 1200px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    font-size: 16px;
    background-image: url(../../../public/images/dots.jpeg);
    background-size: 50%;
    border-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: 650px;
}

.section-title {
    font-size: 24px;
}

.section-title > img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
  animation: img 3s ease-out infinite;
}

@keyframes img {
0%{ transform: rotate(0deg);}
25%{transform: rotate(-15deg);}
50%{ transform: rotate(15deg);}
75%{transform: rotate(-13deg);}
100%{transform: rotate(0deg);}
}

.login-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-section {
    width: 70%;
    margin: 20px 0;
}

.input-section > div {
    width: 100%;
    margin: 15px 0;
}

.input-section > div > p {
    margin-bottom: 10px;
}

.input-section > div > input {
width: 100%;
padding: 15px 20px;
border-radius: 20px;
background-color: #FFFDE9;
    border: 1px solid #000;

}

.checkbox {
    cursor: pointer;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.find-section {
    margin: 20px 0;
    font-size: 13px;
}

.find-section .find-link {
    padding: 0 20px;
    border-right: 1px solid #000;
}

.find-section .find-link:last-child {
    border: none;
}

.button-section {
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;

}

.button-section button {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #000;
}

.login-btn {
    padding: 15px 20px;
    background-color: #C8C3C1;
    transition: all 0.2s ease;
}

.login-btn:hover {
    cursor: pointer;
    background-color: #463832;
    color: #fff;
}

.google-login-btn {
    padding: 10px 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-login-btn >img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}