#register-section {
    max-width: 1200px;
    height: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form{
    font-size: 16px;
    background-image: url(../../../public/images/ribbon.jpeg);
    background-size: 50%;
    border-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 1100px;
}

.section-title {
    font-size: 24px;
}

.section-title > img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
  animation: img 3s ease-out infinite;
}

@keyframes img {
0%{ transform: rotate(0deg);}
25%{transform: rotate(-15deg);}
50%{ transform: rotate(15deg);}
75%{transform: rotate(-13deg);}
100%{transform: rotate(0deg);}
}

.register-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.id-section{
    width: 70%;
    margin: 20px 0;
}

.id-inside {
    width: 100%;
    display: grid;
    grid-template-columns: 2.3fr 0.7fr;
    gap: 10px;
}
.password-section{
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.id-inside >input,
.password-section > input {
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #FFFDE9;
    border: 1px solid #000;
}

.id-inside > button {
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #C8C3C1;
    transition: all 0.2s ease;
}

.id-inside > button:hover {
    cursor: pointer;
    background-color: #463832;
    color: #fff;
}

.register-inside > input {
    width: 70%;
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #FFFDE9;
    border: 1px solid #000;
}
.input-section {
    margin: 10px 0;
}
.id-section > p,
.input-section > p{
    margin-bottom: 10px;
}

.input-section > input{
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #FFFDE9;
    border: 1px solid #000;
}

.form-group {
  width: 70%;
  margin: 10px 0;
  display:flex;
  gap: 10px;
  align-items: center;
}
.form-group > label {
    width: 25%;
}

.form-group > select {
    width: 75%;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #FFFDE9;
    border: 1px solid #000;
}
 
.register-btn{
    width: 70%;
    margin: 35px 0;
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #C8C3C1;
    transition: all 0.2s ease;
}

.register-btn:hover {
    cursor: pointer;
    background-color: #463832;
    color: #fff;
}

