#itemCreate-section {
    max-height: 1500px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.item-create-form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

/* 이미지 업로드 필드 */

.img-up-btn {
    all: unset;
    font-size: 13px;
}

.img-up-btn > svg {
    margin-left: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* 입력 필드 */
.item-input-section {
    margin: 10px 0;
}
.id-section > p,
.item-input-section > p{
    margin-bottom: 10px;
}

.item-input-section > input{
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #FFFDE9;
    border: 1px solid #000;
}

.item-name,
.item-price,
.item-amount,
.item-category {
 width: 200px;
}


#item-sell-status {
    width: 200px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FFFDE9;
    border: 1px solid #000;
}

/* 상품설명 입력 필드 */

.item-create-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  resize: vertical; /* 세로 크기만 조절 가능 */
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.item-create-input:focus {
    border-color: #000;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.item-summary{
  min-height: 150px;
}
.item-detail{
  min-height: 300px;
}

@media (max-width: 767px) {
.item-name,
.item-price,
.item-amount{
 width: 100%;
}
}