#order-section {
    height: 1000px;
    padding: 0 20px;
    max-width: 1200px;
}



.section-contents {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.left {
    display: grid;
    gap: 20px;
}

.right {
    height: 500px;
}

/* 배송지입력 */
.delivery-address{
    padding: 20px;
}


.delivery-address > div {
display: flex;
justify-content: space-between;
padding-bottom: 20px;
}

.sub-title {
    font-size: 20px;
}

.address-btn {
    all: unset;
    font-size: 13px;
    text-decoration: underline;
    color: #797979;
}

.address-input-group {
    font-size: 16px;
    color: #797979;
}



.address-input  {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.address-input.name {
    width: 40%;
}

.address-input > select{
    width: 70%;
}

.address-input > input,
.address-input > .phone-input-group > input,
.address-input > select {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FFFDE9;
    border: 1px solid #000;
}

.phone-input-group {
    display: flex;
    align-items: center;
    gap: 5px;
}
.phone-input-group > input{
    width: 35%;
}


/* 결제수단 */
.payment-method {
    padding: 20px;
}

.button-group {
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


.button-group button {
  padding: 15px 20px;
  border: 1px solid #000;
  background-color: #FFFDE9;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-group button.active {
  background-color: #463832;
  color: white;
  border-color: #000;
}

/* 간편결제 */

.simple-payment {
  margin: 20px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.simple-payment button {
 display: flex;
 align-items: center;
 justify-content: center;
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: white;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.simple-payment button.active {
  background-color: #d8d8d8;
  color: #000;
  border-color: #000;
}

/* 카드결제 */

.card-payment {
margin-top: 20px;
}

.card-payment-input > p {
    font-size: 13px;
    margin-bottom: 10px;
}

.card-payment-input {
    margin: 10px 0;
    width: 100%;
    gap: 10px;
}

.card-payment-input input{
   padding: 10px 20px;
   font-size: 13px;
   border: 1px solid #000;
   border-radius: 30px;
}

.card-number-wrapper input {
    width: 23%;
}

.expiry-date > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.expiry-date input {
    width: 17%;
}
.card-payment-input.cvc,
.card-payment-input.card-password {
width: 25%;
}

/* 현금결제 */

.cash-payment {
  margin: 20px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.cash-payment button {
 display: flex;
 align-items: center;
 justify-content: center;
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: white;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cash-payment button.active {
  background-color: #d8d8d8;
  color: #000;
  border-color: #000;
}

/* 휴대폰결제 */
.phone-payment {
    margin: 20px;
    margin-bottom: 0px;
}


/* 우측 결제하기 */

.order-paying{
    padding: 20px;
}

.paying-group {
    margin: 20px 0;
    margin-top: 29px;
}

.paying-group div {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.total-sum {
    margin: 20px 0;
    float: right; 
    text-align: right;
}

.total-sum p{
    padding: 5px 0;
}


.order-btn {
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #000;
  background-color: #C8C3C1;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.order-btn:hover {
  background-color: #463832;
  color: white;
  border-color: #000;
}


@media (max-width: 820px) {
#order-section{
height: 1400px;
}
.section-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}

@media (max-width: 550px) {
    
#order-section{
    height: 1600px;
}

.section-title {
    font-size: 20px;
}

.right {
    height: 470px;
}
 .card-title{
        font-size: 13px;
    }
  .sub-title{
        font-size: 16px;
    }
  .address-input label{
 font-size: 13px;
  }

  .button-group {
    grid-template-columns: repeat(2,1fr);
  }

   .simple-payment,
   .cash-payment{
    display: flex;
    flex-direction: column;
   }

    .card-payment-input > p {
    font-size: 11px;
}
    .card-payment-input input {
       font-size: 11px;
        padding: 5px;
    }

   .card-number-wrapper input {
    width: 20%;
}

.paying-group p,
.order-btn{
    font-size: 15px;
}
}