 #review-section {
    max-height: 800px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.create-review {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.review-title {
    font-size: 20px;
   margin-bottom: 10px;
}

.rating {
    margin: 10px 0;
}

.rating .star {
    all:unset;
}

.rating-label {
    margin-left: 10px;
    font-size: 13px;
}

.review-input {
  width: 100%;
  min-height: 120px;
  padding: 12px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  resize: vertical; /* 세로 크기만 조절 가능 */
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.review-input:focus {
    border-color: #000;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.upload-btn {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    gap: 5px;
    font-size: 13px;
}

.submit-btn {
  margin-top: 40px;
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #000;
  background-color: #C8C3C1;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #463832;
  color: white;
  border-color: #000;
}
