/* 좋아요버튼 */
.like-btn {
   position: relative;
}

.like {
   all: unset;
   position: absolute;
   top: 0;
   right: 0;
   padding: 10px;
}

.content {
   padding: 10px;
}

.cats {
   font-size: 13px;
   margin-bottom: 3px;
}

.title {
   margin-bottom: 5px;
}
