#itemCart-section {
  background-color: #F2FAFF;
  padding-top: 74px;
}

.cart-contents {
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-title { 
  margin-bottom: 20px; 
  max-width: 1200px;
}

.cart-card {
  display: flex;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.cart-card:hover {
    transform: scale(1.01);
}


/* 썸네일: 고정폭, 내용은 유동 */
.thumb {
  flex: 0 0 150px;    /* 기본 180px 폭 */
  max-width: 200px;   /* 과도한 확장 방지 */
}

.thumb > img {
  width: 100%;
  aspect-ratio: 0.9 / 1; /* 정사각 */
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

/* 우측 정보 */
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.del-btn {
  all: unset;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.cartitem-name { font-size: 20px; margin: 10px 0; }
.qty-row { display: flex; align-items: center; gap: 8px; margin-bottom: 12px; }

.qty-btn {
    all: unset;
    border-radius: 50%;
    padding: 5px 10px;
    border: 1px solid #d8d8d8;
}
.qty-btn:hover {
    background-color: #FFFDE9;
    border: 1px solid #000;
}

.qty-input {
    all: unset;
    width: 50px;
    text-align: center;
}

.cartitem-price { font-size: 20px; }
.cart-summary { padding: 20px; }

/* ---- 반응형 ---- */

