#item-search-tap > div {
   margin-bottom: 20px;
}

#item-search-tap .item-search-tap__main-filter {
   display: flex;
   gap: 10px;
}

.filter-group > h3 {
   margin-bottom: 10px;
   font-size: 16px;
}

.filter-group > div {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}
