#admin-section {
  padding: 20px;
}

.admin-title {
    justify-content: center;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-buttons button {
  flex: 1;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid #000;
  background-color: rgba(70, 56, 50, 0.1);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.tab-buttons button.active{
  background: #463832;
  color: #fff;
}

.tab-buttons button:hover {
    background-color: rgba(70, 56, 50, 0.4);
    transform: translateY(-3px);
}

.tab-buttons button.active:hover{
color: #000;
}

.tab-content {
  border: 1px solid #ccc;
  border-radius:30px;
  padding: 20px;
  background: #fff;
  min-height: 500px;
}

@media (max-width: 430px) {
.tab-buttons button {
    font-size: 13px;
}

.tab-content {
  padding: 10px;
}
}