/* 페이지 컨테이너  */
#itemlike-list .ilp-container {
  min-height: 1000px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 필터 토글 아이콘  */
.filter-toggle-btn .filter-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}
.filter-toggle-btn .filter-icon path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
}
