main {
   background-color: #fffde9;
   position: relative;
   z-index: 0;
   overflow-x: hidden;
}
main::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1220px;
   background-color: #f2faff;

   border-radius: 0 15% 0 0;
   box-shadow: -2px -4px 0 0 rgba(0, 0, 0, 0.1);
   z-index: -1;
}
.main {
   margin: 0 auto;
   padding-top: 74px;
   max-width: 1200px;
}

/* banner : 반응형 고치기 */
#banner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 650px;
   position: relative;
   margin: 0 20px;
}
.banner-title {
   font-size: 64px;
   animation: banner-title 3s forwards;
}
@keyframes banner-title {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.bannerbtn {
   width: 320px;
   background-color: #0077ff;
   border-radius: 50px;
   border: 1px solid #000;
   color: #fff;
   padding: 10px 30px;
   transition: all 0.5s ease;
}

.bannerbtn:hover {
   transform: scale(1.05);
   background-color: #fff;
   color: #0077ff;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.img1 {
   background: none;
   width: 11.67%;
   position: absolute;
   top: 10.77%;
   left: 25%;
   animation: img1 2s ease-in-out infinite;
   animation-delay: 0.5s;
}

.img2 {
   background: none;
   width: 27.5%;
   position: absolute;
   top: 6.15%;
   left: 37.5%;
   animation: img2 2s ease-in-out infinite;
}

.img3 {
   background: none;
   width: 25.25%;
   position: absolute;
   top: 26.15%;
   left: 58.33%;
   animation: img3 2s ease-out infinite;
   animation-delay: 0.5s;
}

.img4 {
   background: none;
   width: 15%;
   position: absolute;
   top: 10.77%;
   left: 83.33%;
   animation: img1 2s ease-out infinite;
}

.img5 {
   background: none;
   width: 15%;
   position: absolute;
   top: 64.62%;
   left: 37.5%;
   animation: img2 2s ease-out infinite;
   animation-delay: 0.5s;
}

.img6 {
   background: none;
   width: 5%;
   position: absolute;
   top: 9.23%;
   left: 41.67%;
   animation: img4 2s ease-out infinite;
}

.img7 {
   background: none;
   width: 5%;
   position: absolute;
   top: 46.15%;
   left: 83.33%;
   animation: img3 2s ease-out infinite;
   animation-delay: 0.5s;
}

.img8 {
   background: none;
   width: 11.08%;
   position: absolute;
   top: 73.85%;
   left: 58.33%;
   animation: img4 2s ease-out infinite;
}

.img9 {
   background: none;
   width: 14.67%;
   position: absolute;
   top: 66.15%;
   left: 79.17%;
   animation: img1 2s ease-out infinite;
   animation-delay: 0.5s;
}

.img10 {
   background: none;
   width: 10.08%;
   position: absolute;
   top: 4.62%;
   left: 70.83%;
   animation: img3 2s ease-out infinite;
}

.click {
   background: none;
   position: absolute;
   top: 66.15%;
   left: 29.17%;
   transform: rotate(-20deg);
   animation: click 3s ease-out infinite;
}

.click-img {
   background: none;
   width: 60px;
}

.click-text {
   text-align: center;
   animation: click-text 3s infinite;
}

@keyframes img1 {
   0% {
      transform: rotate(-20deg);
   }
   25% {
      transform: rotate(-25deg);
   }
   50% {
      transform: rotate(-15deg);
   }
   75% {
      transform: rotate(-23deg);
   }
   100% {
      transform: rotate(-20deg);
   }
}

@keyframes img2 {
   0% {
      transform: rotate(0deg);
   }
   25% {
      transform: rotate(-5deg);
   }
   50% {
      transform: rotate(5deg);
   }
   75% {
      transform: rotate(-3deg);
   }
   100% {
      transform: rotate(0deg);
   }
}

@keyframes img3 {
   0% {
      transform: rotate(50deg);
   }
   25% {
      transform: rotate(45deg);
   }
   50% {
      transform: rotate(55deg);
   }
   75% {
      transform: rotate(43deg);
   }
   100% {
      transform: rotate(50deg);
   }
}

@keyframes img4 {
   0% {
      transform: rotate(-140deg);
   }
   25% {
      transform: rotate(-145deg);
   }
   50% {
      transform: rotate(-135deg);
   }
   75% {
      transform: rotate(-143deg);
   }
   100% {
      transform: rotate(-140deg);
   }
}

@keyframes click {
   0% {
      transform: translateX(0);
   }
   75% {
      transform: rotate(-20deg) translateX(-100px);
   }
   100% {
      transform: translateX(0);
   }
}

@keyframes click-text {
   0%,
   100% {
      opacity: 0;
   }
   75% {
      opacity: 1;
   }
}

/* best haul */
#best-products {
   margin: 100px 20px;
}

.section-title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;
}

.section-title p{
      font-size: 24px;
   }

.more-btn {
   all: unset;
   display: flex;
   align-items: center;
   font-size: 13px;
   transition: all 0.3s ease;
   cursor: pointer;
}

.more-btn:hover {
   transform: translateY(-5px);
}
.card-list {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 20px;
}

.card {
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 0.6);
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
   aspect-ratio: 0.7/1;
   transition: all 0.3s ease;
}

.card:hover {
   transform: translateY(-5px);
}
.card > img {
   aspect-ratio: 0.7/1;
   overflow: hidden;
   object-fit: cover;
}

/* 반려동물 종류 선택 */
#pet-selector {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 100px 20px;
   height: 650px;

}
#pet-selector > h1 {
   font-size: 40px;
   margin-bottom: 10px;
}
#pet-selector > p {
   font-size: 24px;
}

.pet-list {
   width: 100%;
   max-width: 1000px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
}
.pet-card {
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   transition: all 0.3s ease;
}
.pet-card:hover {
   transform: translateY(-5px);
   transform: scale(1.05);
}

.image {
   margin-bottom: 20px;
}

.pet-img1 {width: 300px;}
.pet-img2 {width: 150px;}
.pet-img3 {width: 200px;}


/* new contents, keyword, best review */
#contents-review {
   margin: 100px 20px;
   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 20px;
   height: 800px;
}

.contents-card {
   display: flex;
   flex-direction: column;
   position: relative;
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   border: 1px solid #000;
   transition: all 0.3s ease;
}

.contents-card:hover {
   transform: scale(1.01);
}

.card-header {
   background-color: #463832;
   color: #fff;
   padding: 8px 10px;
   display: flex;
   align-items: center;
   gap: 10px;
   border: 1px solid #000;
}

.window-btn {
   display: flex;
}

.window-btn span {
   display: inline-block;
   margin-right: 5px;
   width: 13px;
   height: 13px;
   border-radius: 50%;
   border: 1px solid #000;
}

.red {
   background-color: #ff0000;
}
.green {
   background-color: #1eff00;
}
.blue {
   background-color: #0077ff;
}

.contents-card-title {
   font-size: 16px;
}

.card-body {
   height: 400px;
}

.card-footer {
   position: absolute;
   display: flex;
   justify-content: center;
   text-align: center;
   bottom: 0;
   left: 0;
   width: 23%;
   height: 7%;
   padding: 10px;
}

.right-contents {
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   gap: 20px;
}

.keyword-card {
   display: flex;
   flex-direction: column;
   height: 400px;
   margin: 0;
   padding: 0;
}

.keyword-card > div {
   display: flex;
   align-items: center;
   flex: 1;
   width: 100%;
   padding: 8px;
   font-size: 13px;
   border-bottom: 1px solid #000;
}

.keyword-card > div:last-child {
   border: none;
}

/* 댕댕이 장마대비존 */
#rainy-dog {
   margin: 100px 20px;
   margin-top: 200px;
   border-radius: 0 50% 0 0;
   z-index: 4;
}

.banner2 {
   margin-top: 20px;
   min-height: 200px;
   max-height: 400px;
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 0.6);
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
/* 2025 s/s 신상템 */
#ss-new {
   height: 500px;
   margin: 0 20px;
   z-index: 4;
}


@media (max-width: 1023px) {
   
  #banner {
    height: 500px;
    margin: 0 10px;
  }
  .banner-title {
    font-size: 48px;
    text-align: center;
  }
  .bannerbtn {
    width: 260px;
    padding: 8px 24px;
    font-size: 16px;
    margin: 0 auto;
  }

  /* 이미지 크기 축소 */
  .img1 { width: 14%; top: 9%; left: 26%; }
  .img2 { width: 25%; top: 67%; left: 6%; }
  .img3 { width: 22%; top: 28%; left: 79%; }
  .img4 { width: 12%; top: 9%; left: 76%; }
  .img5 { width: 12%; top: 74%; left: 40%; }
  .img6 { width: 4%; top: 10%; left: 12%; }
  .img7 { width: 4%; top: 70%; left: 84%; }
  .img8 { width: 10%; top: 33%; left: 9%; }
  .img9 { width: 12%; top: 83%; left: 70%; }
  .img10 { width: 9%; top: 5%; left: 60%; }
  .click { top: 60%; left: 70%; }


.pet-img1 {width: 225px;}
.pet-img2 {width: 112.5px;}
.pet-img3 {width: 150px;}

#contents-review {
   height: 700px;
}
.keyword-card {
   height: 300px;
}

.card-footer {
   width: 30%;
   height: 10%;
}

}


@media (max-width: 767px) {
main::before {
   border-radius: 0 10% 0 0;
   height: 1150px;
}
  #banner {
    height: 500px;
    padding: 40px 10px;
  }
  .banner-title {
    font-size: 32px;
    text-align: center;
  }
  .bannerbtn {
    width: 200px;
    padding: 8px 20px;
    font-size: 14px;
    margin: 20px auto 0;
  }

  .click-img {
   width: 40px;
  }
  .click-text {
   font-size: 11px;
  }
  .card-list {
    gap: 10px;
}
.card-text {
   font-size: 13px;
}
#contents-review{
   grid-template-columns: 1fr;
   height: 900px;
}
.card-header{
   gap: 3px;
   padding: 8px 3px;
}
.window-btn span{
   margin-right: 1px;
   width: 10px;
   height: 10px;
}
.contents-card-title {
   font-size: 11px;
}

.card-footer {
   height: 13%;
   font-size: 10px;
}

#pet-selector{
   height: 500px;
}

#pet-selector > h1 {
   font-size: 30px;
}
#pet-selector > p {
   font-size: 16px;
}

.pet-card p {
   font-size: 13px;
}

.image {
   margin-bottom: 10px;
}


.keyword-card {
   height: 200px;
}


}

@media (max-width: 640px) {
   main::before {
   height: 1450px;
}
.card-list{
   grid-template-columns: repeat(3, 1fr);
   }


    /* 이미지 더 축소 및 재배치 */
  .img1 { width: 15%; top: 10%; left: 28%; }
  .img2 { width: 33%; top: 75%; left: 6%; }
  .img3 { width: 28%; top: 25%; left: 73%; }
  .img4 { width: 14%; top: 11%; left: 80%; }
  .img5 { width: 14%; top: 74%; left: 48%; }
  .img6 { width: 7%; top: 10%; left: 12%; }
  .img7 { width: 7%; top: 70%; left: 84%; }
  .img8 { width: 12%; top: 33%; left: 9%; }
  .img9 { width: 20%; top: 85%; left: 66%; }
  .img10 { width: 13%; top: 5%; left: 60%; }
  .click { top: 60%; left: 78%; }

  #pet-selector {
   height: 650px;
  }

}

@media (max-width: 510px) {
     main::before {
   height: 1350px;
}

.section-title p {
   font-size: 16px
}

#contents-review {
   margin: 50px 20px;
}

/* 반려동물선택 */
#pet-selector {
   height: 400px;
}

#pet-selector > h1 {
   font-size: 24px;
}
#pet-selector > p {
   font-size: 16px;
}


.pet-img1 {width: 125px;}
.pet-img2 {width: 60px;}
.pet-img3 {width: 90px;}

#rainy-dog {
   margin-top: 100px;
}

}

@media (max-width: 430px) {
  main::before {
   height: 1270px;
}}

