#order-section {
    height: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-items{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.order-card-wrap {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}


.order-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: all 0.3s ease;
}

.order-card:hover {
   transform: translateY(-5px);
}


.order-card > img {
  width: 100%;
  height: 180px;        /* 항상 일정 높이 차지 */
  object-fit: cover;    /* 비율 유지하면서 잘라냄 */
  border-radius: 20px 20px 0 0;
  flex-shrink: 0;       /* 줄어들지 않게 */
}

.order-card-content {
  flex: 1;              /* 남은 공간 확보 */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.order-card-content > div {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 10px;
}


.card-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.cart-btn {
    all:unset;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

.cancelled{
    color: red;
    font-size: 13px;

}

.order-actions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.delivered-info {
    padding: 5px 15px;
    border-radius: 30px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../public/images/ribbon.jpeg);
    background-size: 70%;
}

.order-actions > .btn {
    all: unset;
    padding: 5px 15px;
    border-radius: 30px;
    border: 1px solid #000;
    text-align: center;
}

.order-actions > .btn:hover {
    background-color: #FFFDE9;
}

@media (max-width: 1024px) {
.order-card-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .order-card > img {
    height: 160px;
  }
}


@media (max-width: 767px) {
.order-items {
    display:flex;
    flex-direction: column;
    font-size: 13px;
}

.order-actions {
display: grid;    
grid-template-columns: repeat(2,1fr);
gap: 10px;
}

.order-card-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .order-card > img {
       height: 160px;
  }
.order-actions > .btn {
    height: 40px;
}
}

@media (max-width: 430px) {
.order-card-wrap {
    padding: 15px;
}

.order-actions {
    gap: 10px;
    padding: 15px;

}

}