#myreview-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.review-list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.btn-edit:hover {
  background: #3498db;
  color: white;
}

.btn-delete:hover {
  background: #e74c3c;
  color: white;
}

@media (max-width: 1023px) {
.review-list {
  grid-template-columns: 1fr;
}
}
