@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');


.galindo {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*,
body {
   padding: 0;
   margin: 0;
   font-family: 'Galmuri14', sans-serif;
   box-sizing: border-box;
}
a {
   text-decoration: none;
   color: inherit;
}

/* 배경 css */
.blue-background {
   background-color: #F2FAFF; 
   padding-top: 74px; 
}

.ribbon-background {
   background-image: url(../public/images/ribbon.jpeg);
   background-repeat: repeat;
   background-size: 20%;
   padding-top: 74px;
}


/* card */
.card-list {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 20px;
}

.card {
   width: 100%;
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 0.6);
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
   aspect-ratio: 0.9 / 1;
   transition: all 0.3s ease;
}

.card:hover {
   transform: translateY(-5px);
}
.card > a > img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    flex-shrink: 0;
}

/* 공통버튼 */

.btn{
    all: unset;
    background-color: #fff;
    border: 1px solid #000;
    height: 27px;
    padding: 5px 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 13px;
 } 

.btn:hover {
    background-color: #463832;
    color: #fff;
}



@media (max-width: 1024px) {
    .card > a > img {
        height: 160px;
    }
}


@media (max-width: 767px) {

  .card-list {
    gap: 10px;
}
  .card-text {
   font-size: 13px;
}
.card-header{
   gap: 3px;
   padding: 8px 3px;
}
.window-btn span{
   margin-right: 1px;
   width: 10px;
   height: 10px;
}
.contents-card-title {
   font-size: 11px;
}


}
@media (max-width: 640px) {
   .card-list{
   grid-template-columns: repeat(3, 1fr);
   }
}


/* contents-card */

.contents-card {
   display: flex;
   flex-direction: column;
   position: relative;
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   border: 1px solid #000;
   transition: all 0.3s ease;
}

.contents-card:hover {
   transform: scale(1.01);
}

.card-header {
   background-color: #463832;
   color: #fff;
   padding: 8px 10px;
   display: flex;
   align-items: center;
   gap: 10px;
   border: 1px solid #000;
}

.window-btn {
   display: flex;
}

.window-btn span {
   display: inline-block;
   margin-right: 5px;
   width: 13px;
   height: 13px;
   border-radius: 50%;
   border: 1px solid #000;
}

.red {
   background-color: #ff0000;
}
.green {
   background-color: #1eff00;
}
.blue {
   background-color: #0077ff;
}

.contents-card-title {
   font-size: 16px;
}